.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  a {
    text-decoration: none;
    color: $pink;
  }

  address {
    color: $pink;
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.contacts__phone,
.contacts__address {
  margin-bottom: 35px;
}

.contacts__email {
  margin-bottom: 30px;
}

.contacts__phone a,
.contacts__address address,
.contacts__email a {
  &:hover {
    color: $dark-blue;
  }

  &:active {
    color: $dark-blue;
    opacity: 0.3;
  }
}

.contacts__map {
  clip-path: polygon(100% 0, 100% 99%, 0 100%, 0 0, 50% 17%);
}
