.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
    width: 936px;
    margin: 0 auto;
  }
}

.form__section {
  border: none;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }


  &--user {
    order: 1;
  }

  &--contasts {
    order: 3;

    @media (min-width: $tablet-width) {
      border: 2px solid $light-grey;
      border-radius: 1px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 47px;
      padding-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
    }
  }

  &--os,
  &--achievements {
    @media (min-width: $tablet-width) {
      border: 2px solid $light-grey;
      border-radius: 1px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 47px;
      padding-bottom: 53px;
    }
  }

  &--comments {
    order: 5;

    @media (min-width: $tablet-width) {
      border: 2px solid $light-grey;
      border-radius: 1px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 47px;
      padding-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
    }
  }

  &--button {
    order: 6;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
    }
  }
}

.form__legend {
  color: $pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  &--contacts {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }
}

.form__input-label {
  font-weight: normal;
  margin-right: 20px;

  &--text {
    color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--checkbox,
  &--radio {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    padding-left: 60px;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    background-color: $white;
    border: 2px solid $light-grey;
    border-radius: 1px;
    width: 35px;
    height: 35px;
    left: 0;
  }

  &--radio::before {
    content: "";
    position: absolute;
    background-color: $white;
    border: 2px solid $light-grey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 0;
  }
}

.form__input-text {
  padding: 13px 20px;
  border: 2px solid $light-grey;
  border-radius: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  flex-grow: 1;

  &--textarea {
    width: 100%;
    box-sizing: border-box;
  }

  &--contacts {
    width: 100%;
    box-sizing: border-box;
    padding-right: 59px;
  }

  &:hover {
    border: 2px solid $dark-blue;
  }

  &:focus {
    border: 2px solid $pink;
  }
}

.form__input-checkbox {
  &:hover + .form__input-label--checkbox::before {
    border: 2px solid $dark-blue;
  }

  &:active + .form__input-label--checkbox::before {
    border: 2px solid $pink;
  }
}

.form__input-radio {
  &:hover + .form__input-label--radio::before {
    border: 2px solid $dark-blue;
  }

  &:active + .form__input-label--radio::before {
    border: 2px solid $pink;
  }

  &:checked + .form__input-label--radio::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: $pink;
    border-radius: 50%;
    left: 12px;
    top: 12px;
  }
}

.form__button {
  width: 100%;
}
