.header {
  position: relative;
  color: $white;
  background-image: url("../img/back-mobile.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 462px;
  min-width: 320px;
  box-sizing: border-box;
}
