.header {
  text-transform: uppercase;
  background-color: $black;
  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    height: 110px;
  }
}

.header__logo {
  height: 23px;
  text-align: left;
}

.page-header__logo svg {
  width: 74px;
  height: 23px;

  @media (min-width: $tablet-width) {
    padding: 27px 0 43px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 0 43px 130px;
  }
}
