.navigation {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 23px;
  box-sizing: border-box;
  z-index: 5;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 13%;
    padding-left: 96px;
    padding-top: 21px;
  }
}

.navigation__wrapper {
  margin: 0 auto;
  z-index: 5;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation__list a {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  padding: 15px 84px;
  display: block;

  @media (min-width: $desktop-width) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    padding: 20px 0;
  }
}

.navigation__item {
  position: relative;
  background-color: $dark-blue;
  border-bottom: 1px solid $black;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    background-color: transparent;
    border: none;
    justify-self: flex-start;

    &--current::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $white;
    }
  }
}

.navigation__item a {
  &:hover {
    color: $pink;
  }

  &:active {
    color: $pink;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    &:active {
      color: $white;
      opacity: 0.3;
    }
  }
}

.navigation__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 10;

  &:hover::before {
    background-color: $pink;
    box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
  }

  &:active::before {
    background-color: $pink;
    box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 50px;
  height: 3px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.navigation--closed .navigation {
  display: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content min-content min-content 1fr;
    column-gap: 8%;
  }
}

.navigation--opened {
  background-color: $dark-blue;
}

.navigation--opened .navigation__item {
  border-bottom: 1px solid $black;
}

.navigation--opened .navigation {
  display: block;
}

.navigation--opened .navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 18px;
    width: 30px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before {
    background-color: $pink;
  }

  &:hover::after {
    background-color: $pink;
  }

  &:active::after {
    opacity: 0.3;
  }
}
