.price {
  background-color: $grey;
  padding: 50px 0;
  padding-top: 120px;
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &__table {
    border-collapse: collapse;
  }

  &__table-head {
    position: relative;
    color: $white;
    background-color: $dark-blue;
    font-size: 18px;
    line-height: 30px;
    padding-top: 13px;
    padding-bottom: 20px;

    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 98px;
      background-color: #f2f2f2;
      right: -1px;
      top: -1px;
    }

    &--standard {
      position: relative;
      color: $white;
      background-color: $dark-blue;
      font-size: 18px;
      line-height: 30px;
      padding-top: 13px;
      padding-bottom: 20px;
    }

    &--standard::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 98px;
      background-color: #f2f2f2;
      right: -1px;
      top: -1px;
    }

    &--standard::after {
      position: absolute;
      content: "хит";
      font-weight: 300;
      color: $white;
      text-transform: uppercase;
      background-color: $pink;
      width: 102px;
      height: 24px;
      top: 16px;
      left: -23px;
      transform: rotate(-45deg);

      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(23% 0%, 77% 0%, 100% 100%, 0% 100%);
    }

    &--item {
      margin: 0;
    }

    &--item-price {
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      margin: 0;
    }
  }

  &__table-row {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  &__table-cell {
    position: relative;
    border: 2px solid $checkbox-border;
    text-align: center;
    background-color: $white;
    padding: 14px 0;
    padding-left: 20px;
    width: 210px;
    text-transform: capitalize;

    &--child {
      text-align: left;
    }

    &--yes::before {
      position: absolute;
      content: "";
      background-image: url("../img/yes.jpg");
      background-repeat: no-repeat;
      width: 31px;
      height: 21px;
      top: 16px;
      left: 44%;
    }

    &--no::after {
      position: absolute;
      content: "";
      background-image: url("../img/no.jpg");
      background-repeat: no-repeat;
      width: 27px;
      height: 27px;
      top: 16px;
      left: 44%;
    }
  }
}
