.promo {
  order: 1;
  color: $white;
  background-repeat: no-repeat;
  background-image: url("../img/mobile/back-mobile.jpg");
  background-position: 50% -70px;
  background-color: $extra-black;
  margin-bottom: 46px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: url("../img/tablet/back-tablet.jpg");
    background-position: 50% -105px;
    padding: 74px 0 37px 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/desktop/back-desktop.jpg");
    padding: 74px 0 80px 0;
  }
}

.promo__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  margin: 29px 20px 34px 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin: 20px 0 100px 43px;
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 40px 0 100px 130px;
  }
}

.promo__download {
  margin: 360px 0 40px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 0 0 95px;
  }
}

.promo__title::after {
  content: " ";
  background-image: url("../img/phone.png");
  position: absolute;
  top: 105px;
  right: 1px;
  width: 320px;
  height: 286px;

  @media (min-width: $tablet-width) {
    top: 80px;
    right: 1px;
    width: 660px;
    height: 545px;
    background-image: url("../img/tablet/phone-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: 103px;
    right: 1px;
    width: 1050px;
    height: 645px;
    background-image: url("../img/desktop/phone-desktop.png");
  }
}

.promo__link {
  color: $white;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid $white;
  border-radius: 41px;
  padding: 15px 39px 15px 38px;
  margin: 0 0 32px 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.promo__item::marker {
  font-size: 0;
}

.promo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 auto;
  width: 277px;
  padding-left: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    width: 300px;
  }
}

.promo__title {
  line-height: 33px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.promo__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin: 50px auto 31px auto;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;
    padding: 70px 0 0 66px;
  }
}
