.reviews {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__author {
  margin: 0;
  padding: 0;

  &--name {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }
}

.reviews__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
