$tablet-width: 660px;

$desktop-width: 1200px;


// colors
$pink: hsl(344, 68%, 49%);
$dark-blue: hsl(211, 27%, 21%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 95%);
$light-grey: hsl(0, 0%, 90%);
$green-1: hsl(151, 61%, 42%);
$green-hover: hsl(151, 69%, 36%);
$extra-black: hsl(213, 26%, 15%);
